<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title style="text-align: center;">modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1 style="text-align: center;">Modificar Usuario</h1>
  </div>
  
  <ion-card>
    <ion-item>
      <ion-input label="Modificar Email" labelPlacement="floating" placeholder="Ingrese su nuevo email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-text color="danger" class="error-message" *ngIf="email && !esCorreoValido()" style="text-align: center;"> 
      El correo debe terminar en arroba gmail.com.
    </ion-text>
    
    <ion-button expand="block" (click)="irPerfil()" [disabled]="!email || !esCorreoValido()">Confirmar</ion-button>
    <ion-button expand="block" (click)="irPerfil()">Cancelar</ion-button>
  </ion-card>
</ion-content>
