<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title style="text-align: center;">perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <h1>Perfil de Usuario</h1>
  </div>
  <ion-card>
    <p style="text-align: center;">Email: {{ email }}</p>
    <div>
      <ion-button expand="block" (click)="irModificar()">Modificar</ion-button>
    </div>
  </ion-card>
</ion-content>
