<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      <ion-back-button></ion-back-button> <!--boton para retroceder-->
    </ion-buttons>
    <ion-title style="text-align: center;">Informacion Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <ion-card color="secondary">
        <img alt="" src="/assets/icon/conejo.jpg" />
        <ion-card-header>
          <ion-card-title>Nombre: Guaton</ion-card-title>
          <ion-card-title>Especie: Conejo</ion-card-title>
          <ion-card-title>Genero: Macho</ion-card-title>
          <ion-card-title>Edad: 2 años</ion-card-title>
          <ion-card-title>Caracteristicas: Es un conejo blanco al cual le encanta comer zanahorias y correr libre por el pasto</ion-card-title>
        </ion-card-header>
      </ion-card>
  </div>
  <div>
    <ion-button expand="block" (click)="irAdoptar()">Adoptar</ion-button>
  </div>
</ion-content>
