<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      <ion-back-button></ion-back-button> <!--boton para retroceder-->
    </ion-buttons>
    <ion-title style="text-align: center;">HelpPets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1 style="text-align: center;">Bienvenido a HelpPet</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary" (click)="irInfo()">
            <img alt="conejo blanco" src="/assets/icon/conejo.jpg" />
            <ion-card-header>
              <ion-card-title class="tamano">Nombre: Guaton</ion-card-title>
              <ion-card-title class="tamano">Especie: Conejo</ion-card-title>
              <ion-card-title class="tamano">Genero: Macho</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <img alt="gato blanco y negro" src="/assets/icon/gato.jpg" />
          <ion-card-header>
            <ion-card-title class="tamano">Nombre: Colo Colo</ion-card-title>
            <ion-card-title class="tamano">Especie: Gato</ion-card-title>
            <ion-card-title class="tamano">Genero: Macho</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
            <img alt="conejo blanco" src="/assets/icon/perro1.webp" />
            <ion-card-header>
              <ion-card-title class="tamano">Nombre: Benji</ion-card-title>
              <ion-card-title class="tamano">Especie: Perro</ion-card-title>
              <ion-card-title class="tamano">Genero: Macho</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <img alt="gato blanco y negro" src="/assets/icon/gato3.webp" />
          <ion-card-header>
            <ion-card-title class="tamano">Nombre: mia</ion-card-title>
            <ion-card-title class="tamano">Especie: Gato</ion-card-title>
            <ion-card-title class="tamano">Genero: Hembra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
